<html>
<head>
<script
  src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
  integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
  crossorigin="anonymous"></script>
<title>{% if title %}title{% else %}Jeremy{% endif %}</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
td {
  padding: 5px;
}
table {
  background-color: #f0fff0;
}
</style>

</head>


<body style="background-color: #fbd">
<div style="padding-bottom: 700; background-color: #dce" class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
{%- for url, name in [('/', 'Home'), ('/users', 'Users'), ('/avatars', 'Avatars'), ('/avatar_upload', 'Avatar Upload')] %}
      <li{% if request.path == url %} class="active"{% endif %}><a href="{{url}}">{{name}}</a></li>
{%- endfor %}
    </ul>
    <ul class="nav navbar-nav" style="float: right">
{% if token_expires_in is defined and token_expires_in is not none %}
    <li>You are logged in (session time remaining: {{token_expires_in}})</li>
{% else %}
    <li><a href="/login">Please Log In.</a></li>
{% endif %}
    </ul>
  </div>
</nav>
<br>
{% block content %}
{% endblock %}
</div>
</body>

</html>
