{% extends "base.html" %}
{% block content %}
<h1>Hello, friend.</h1>
<br>

<h4>Welcome to the avatar management App, otherwise known as Jeremy.</h4>
<br>
<h4>You might be wondering why an avatar management app is called Jeremy, and to be honest, so am I.</h4>
<br>
<h4>In any case I sincerely hope you enjoy your time in Jeremy, have fun managing avatars!</h4>
<br><br>

<a href="/login" class="btn btn-success">Login here to manage avatars</a>


<br><br><br>
<br><br><br>
<p style="font-size:4; color: #534;">As you can tell a lot of work went into this colour scheme.<br>Yeah, right.</p>
{% endblock %}

